.black{
    background-color: black;
    background: black;
    width: 100px;
    height: 100px;
}


.box{
    display: flex;
    flex-direction: row;
}
.box div{
   
    width: 6vw;
    height: 6vw;
    background-color: rgb(226, 23, 23);
    border-radius: 50%;
}

.wrapper{
    display: flex;
    flex-direction: row;
}
.wrapper div{
   
    width: 6vw;
    height: 6vw;
    background-color: black;
    border-radius: 80%;
}