.app-add-form {
    margin-top: 30px;
    padding: 25px;
    background-color: #36463d;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 255, 157, 0.45);
    color: #eeeeee;
}

.add-form {
    margin-top: 20px;
}

.add-form input {
    width: 350px;
    margin-right: 20px;
}